.navDiv {
    list-style-type: none;
    padding: 3%;
    display: grid;
    grid-template-columns: 85% 15%;
}

.navLink{
  padding: 5%;
  color: #fafaf3;
}

.wholeBar{
    background-color: #6A3940;
    position: sticky;
    top: 0;
}

.navItems{
    align-items: center;
    z-index: 1000;
    position: absolute;
    right: 0%;
    padding: 3%;
    text-align: center;
    width: 35%;
    list-style-type: none;
    background-color: #6A3940;
    font-weight: bold;
    font-size: 2rem;
    z-index: 1;
    opacity: .9;
}

a{
    text-decoration: none;
}

ul a {
    color: #fafaf3;
    font-size: 2.3vh;
    margin: 2% ; 
    margin: 5%;
    padding: 3%;
}

ul a:hover{
    border-bottom: 1px solid #fafaf3;
}

.hide{
    display: none;
    /* animation: hide .3s .1s; */
}

.show{
    display: block;
    /* animation: show .3s .1s; */
}

@keyframes show {
    from {
        transform: translateY(100%)
    } to {
        transform: translateY(0%);
    }
}

@keyframes hide {
    from {
        transform: translateY(0%)
    } to {
        transform: translateY(100%);
    }
}

@media only screen and (min-width: 600px){
    .toggle{
        display: none;
    }

    .navDiv {
        display: block;
        list-style-type: none;
        padding: 1%;
        display: grid;
        margin-left: 50%;
        grid-template-columns: 1fr; 
    }

    .navLink{
        color: #fafaf3;
    }

    .wholeBar{
        background-color: #6A3940;
        display: grid;
        grid-template-columns: auto auto;
    }

    .navItems{
        position: relative;
        padding-top: 0%;
        position: relative;
        right: 0px;
        list-style-type: none;
        background-color: #6A3940;
        z-index: 5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* height: 4%; */
    }
}

@media only screen and (min-width: 800px){
   
}