.slideContainer{
    margin: 4% 5%;
}

.imgTextDiv{
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: center 
}

.slideDiv{
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.center{ 
    text-align: center;
}

.itemNameSlider{
    padding: 1%;
    border-radius: 15rem;
    background-color: black;
    opacity: .8;
    color: white;
}


@media only screen and (min-width: 600px){
   /* .slideDiv{
       height: 30vh;
       width: 30vh;
   } */
}

@media only screen and (min-width: 800px){
   
}