.toggle{
    background-color: #6A3940;;
    padding: 0;
    border: none;
    margin: 1%;
    width: 80%;
}

.turn1{
    transform: rotate(45deg) translateX(7px);
}

.turn2{
    transform: rotate(-45deg) translateX(7px);
}

@media only screen and (min-width: 600px){
    
}
